.user-list {
    background-color: #f9f9f9;
    text-align: center;
    font-family: Arial, sans-serif;
    }
    
    .user-card {
    background-color: #9d4242;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    }
    
    .user-card h3 {
        color: #333;
    }
    
    .user-card p {
        color: #777;
        margin: 5px 0;
    }
    
    .user-card hr {
        border: none;
        border-top: 1px solid #ccc;
        margin: 10px 0;
    }
    